<div class="wrapper">
  <header>
    <i class="fas fa-cookie-bite"></i>
    <h2>Validar Cookies</h2>
  </header>
  <div class="data">
      <p>Este sitio web recopila cookies para ofrecer una mejor experiencia de usuario y permitirle inscribirse en nuestro programa de bienestar en línea, fácilmente, en solo unos pocos pasos. No vendemos ni cedemos sus datos por ningún motivo. <a href="#">Saber mas...</a></p>
  </div>
  <div class="buttons">
    <button class="btn-secondary button" id="declinar">Declinar</button>
      <button class="btn-primary button" id="aceptar">Aceptar</button>
  </div>
</div>
{# {% block javascripts %}
{{ encore_entry_script_tags("cookies") }}
{% endblock %} #}

{# <div class="modal show d-flex align-items-center justify-content-center" id="cookieModal" tabindex="-1" aria-hidden="true" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="cookieModalLabel">Validar Cookies</h2>
                <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
            </div>
            <div class="modal-body">
                <p>Este sitio web recopila cookies para ofrecer una mejor experiencia de usuario y permitirle inscribirse en nuestro programa de bienestar en línea, fácilmente, en solo unos pocos pasos. No vendemos ni cedemos sus datos por ningún motivo.</p>
            </div>
            <div class="modal-footer"> #}
                {# <button type="button" class="btn-primary" {{ stimulus_action('cookie-consent-controller', 'accept') }}>Aceptar</button> #}
                
            {# </div>
        </div>
    </div>
</div> #}