{% extends 'base.html.twig' %} {% block title %}Password Reset Email Sent{%
endblock %} {% block body %}
<div id="main-container" class="container my-5 text-center">
  <p>
    Si existe una cuenta que coincida con su correo electr칩nico, entonces se
    acaba de enviar un correo electr칩nico que contiene un enlace que puede
    utilizar para restablecer su contrase침a. Este enlace expira en
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')

    }}.
  </p>
  <p>
    Si no recibes un correo electr칩nico, revisa tu carpeta de correo no deseado
    o
    <a href="{{ path('app_forgot_password_request') }}">prueba de nuevo</a>.
  </p>
</div>
{% endblock %}
