<h1>
  La reserva con referencia {{ reserva.referencia }} ha sido modificada. El usuario {{ user.nombre }} {{ user.apellidos }} a
  modificado la reserva para la fecha
  {{ reserva.detallesReserva.fechaEvento|date("d/m/Y") }}
</h1>

<h2>Haz el favor de chequear el calendario</h2>

<p>Hasta pronto!</p>
