<h1>
  Nueva reserva confirmada. El usuario {{ user.nombre }} {{ user.apellidos }} a
  realizado una nueva reserva para la fecha
  {{ reserva.detallesReserva.fechaEvento|date("d/m/Y") }}
</h1>

<h2>Haz el favor de chequear el calendario</h2>

<p>Hasta pronto!</p>
