.modal-dialog {
  min-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.modal-header {
  background-color: $color-primary !important;
}

.modal-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
}

@media (min-width: 576px) {
  .modal-dialog {
    min-width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .modal-content {
    max-height: 80vh; 
    overflow-y: auto; 
}
}
