{% extends 'base.html.twig' %} {% block title %}404 - Pagina no encontrada{%
endblock %} {% block body %}

<main
  class="container d-flex justify-content-center align-items-start mx-auto"
  style="height: 100vh"
>
  <section class="row">
    <div class="col-12 text-center my-3">
      <img src=".{{ asset("..//uploads/images/logot.png") }}" style="width:
      125px; height: 250px; margin-bottom: -20px" alt="logo" />
      <h1>Página no encontrada</h1>
      <p>Lo sentimos, pero la página que estás buscando no existe.</p>
    </div>
  </section>
</main>

{% endblock %} {% block footer %} {% endblock %}
